* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Times New Roman", Times, serif;
  line-height: 1.2;
  color: #333;
  height: 100vh;
}

.app {
  width: 100%;
  height: 100vh;
  display: grid;
  grid-template-rows: auto auto 1fr auto;
}

.header {
  background-color: rgb(255, 165, 0);
  width: 100%;
  padding: 2rem;
  text-align: center;
  font-size: 42px;
}

.add-form {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.8rem;

  background-color: rgb(255, 202, 103);
  width: 100%;
  padding: 1rem;
  text-align: center;
  font-size: 24px;
}

.add-form select,
input,
button {
  background-color: rgb(252, 235, 203);
  font-size: 20px;
  padding: 0.4rem 0.8rem;
  border: none;
  border-radius: 15px;
}

.add-form button {
  cursor: pointer;
  font-weight: 500;
  transition: all 0.3s ease-in-out;
}

.add-form button:hover {
  background-color: #000;
  color: #fff;
}

.list {
  background-color: #5a3e2b;
  color: #ffebb3;
  padding: 4rem 2rem;

  display: flex;
  justify-content: space-between;
  flex-direction: column;
  gap: 3.2rem;
  align-items: center;
}

.list ul {
  list-style: none;
  width: 90%;

  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 1rem;
}

.list li {
  display: flex;
  align-items: center;
  gap: 1.2rem;
}

.list input {
  width: 20px;
  height: 20px;
}

.list span {
  font-size: 24px;
}

.list button {
  background: none;
  cursor: pointer;
}

.actions button,
select {
  background-color: #ffebb3;
  text-transform: uppercase;
  padding: 0.5rem 1rem;
  font-size: 1rem;
  font-weight: 600;
  margin: 0 0.8rem;
  border-radius: 10px;
}

.footer {
  background-color: rgb(255, 115, 0);
  width: 100%;
  padding: 2rem;
  text-align: center;
  font-size: 28px;
}
